body {
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.header {
    height: 171px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.header__contacts {
    height: 42px;
    background-color:  #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
    color:  #424242;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.header__contacts-position {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__contacts-position a {
    text-decoration: none;
}

.fa-envelope {
    font-size: 19px;
    margin-top: 2px;
}

.fa-envelope span {
    font-size: 15px;
    font-weight: 400;
    font-family: 'HelveticaNeueCyr', sans-serif;
    position: relative;
    top: -2px;
    margin-right: 15px;
    margin-left: 9px;
}

.fa-mobile-alt {
    font-size: 17px;
    position: relative;
    margin-top: 1px;
    margin-right: 21px;
}

.fa-mobile-alt span {
    font-size: 15px;
    font-weight: 600;
    margin-right: 19px;
    margin-left: 7px;
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.fa-mobile-alt::after {
    content: '';
    width: 1px;
    height: 42px;
    background-color: #e2e2e2;
    display: inline-block;
    position: absolute;
    top: -12px;
}

.facebook-icon {
    border-radius: 3px;
    background-color:  #1287bf;
    width: 26px;
    height: 26px;
    position: relative;
}

.facebook-icon:hover {
    background-color: #127fb7;
}

.fa-facebook-f {
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar a {
    text-decoration: none;
}

.header__navbar-logo {
    display: flex;
    align-items: center;
}
.header__navbar-logo img {
    width: 74px;
    height: 49px;
    position: relative;
    left: 2px;
}


.header__navbar-heading {
    color: #424242;
    font-size: 37px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 3px;
}

.header__navbar-subheading {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -4px;
    left: 2px;
    display: block;
}

.header__navbar-nav {
    display: flex;
}

.header__navbar-nav li {
    list-style: none;
    position: relative;

}

.header__navbar-nav-menu {
    display: flex;
    position: relative;
    top: 2px;
    right: 1px;
}

.header__navbar-nav-menu li::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #424242;
    display: inline-block;
    position: relative;
    top: -2px;
    left: 9px;
}
.header__navbar-nav-menu li:nth-child(2)::after {
    left: 12px;
}
.header__navbar-nav-menu li:nth-child(3)::after {
    left: 12px;
}
.header__navbar-nav-menu li:last-child::after {
    background-color: #ffffff;
}

.header__navbar-nav-menu li {
    color: #424242;
    margin-right: 21px;
}

.header__navbar-nav-menu-item_active {
    list-style: none;
}

.header__navbar-nav-menu-item a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #424242;
    margin: 6px;
}

.header__navbar-nav-menu-item_active a {
    color: #de2b24;
}

.header__navbar-nav-menu-item a:hover {
    color: #de2b24;
}

.button-consultation {
    width: 171px;
    height: 36px;
    border-radius: 4px;
    background-color:  #de2b24;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    top: 8px;
    padding-top: 2px;
}

.button-consultation:hover {
    background-color: #b22b24;
}

.header__banner {
    background-image: url("../images/bg1.jpg");
    height: 590px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    top: 2px;
    margin: 0 auto;
}

.banner-text {
    text-align: center;
    font-family: 'HelveticaNeueCyr', sans-serif;
    color: #ffffff;
    padding-top: 139px;
}

.banner-text h1 {
    font-size: 48px;
    font-weight: 700;
}

.banner-text h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: -37px;
}

.banner-button {
    background-color:  #f8cd53;
    width: 330px;
    height: 69px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    padding-top: 3px;
    position: relative;
    cursor: pointer;
    top: 5px;
    letter-spacing: 0.5px;
}

.banner-button:hover {
    background-color: #e9bf51;
}

.section__about-us {
    text-align: center;
    margin-top: 99px;
}

.section__about-us-text h2 {
    color: #424242;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -1px;
}

.section__about-us-text h3 {
    margin: 0;
    color: #424242;
    font-size: 20px;
    font-weight: 300;
}

.section__about-us-text h3::after {
    content: "";
    background-color:  #424242;
    width: 47px;
    height: 5px;
    margin: 11px auto 46px;
    display: block;
}

.section-2-about {
    display: flex;
    justify-content: space-around;
}


.section-2-about-part1 {
    width: 250px;
}

.section-2-about-part1 h3 {
    color: #424242;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    margin-bottom: -8px;
 }

.section-2-about-part1 p {
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 127px;
    margin-right: 3px;
    letter-spacing: 0.27px;
}

.img2-about-part1 {
    position: relative;
    right: 4px;
}

.img3-about-part1 {
    position: relative;
    top: 7px;
    right: 5px;
    margin-top: -1px;
}

.section__our-work {
    background-color: #de2b24;
    height: 870px;
    margin: 0 auto;
    text-align: center;
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.section__our-work-text h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: -22px;
    padding-top: 107px;
    letter-spacing: 0.2px;
    margin-right: -1px;
}

.section__our-work-text h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 11px;
}

.section__our-work-text h3::after {
    content: "";
    background-color:  #fff;
    width: 47px;
    height: 5px;
    margin: 12px auto 47px;
    display: block;
}

.section-3-img-line-part-1 {
    display: flex;
}

.section-3-img-line-part-2 {
    display: flex;
}

.our-work-name-1:nth-child(2n+1) {
     background-color:  #f35e59;
     width: 257px;
     height: 253px;
     color: #ffffff;
     font-weight: 700;
     display: flex;
     flex-direction: column;
}

.our-work-name-2:nth-child(n+1) {
    background-color:  #f35e59;
    width: 257px;
    height: 253px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.our-work-name-1 h3 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
}
.our-work-name-2 h3 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

.project-name-img-1 {
    background-image: url("../images/section03/img1.jpg");
    width: 257px;
    height: 253px;
}

.project-name-img-2 {
     background-image: url("../images/section03/img2.jpg");
     width: 255px;
     height: 253px;
}

.project-name-img-3 {
    background-image: url("../images/section03/img3.jpg");
    width: 255px;
    height: 253px;
}

.project-name-img-4 {
    background-image: url("../images/section03/img4.jpg");
    width: 255px;
    height: 253px;
}

.our-work-name-1 i {
    font-size: 40px;
    padding-top: 73px;
    padding-bottom: 20px;
}

.our-work-name-1 p {
    font-size: 16px;
    margin-top: 0;
}

.our-work-name-2 i {
    font-size: 40px;
    padding-top: 73px;
    padding-bottom: 20px;
}

.our-work-name-2 p {
    font-size: 16px;
    margin-top: 0;
}

.section__social-link {
    background-color: #2a2a2a;
    height: 490px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    text-align: center;
}

.section__social-link-text-1 {
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    padding-top: 89px;
    padding-bottom: 20px;
    margin: 0;
}

.social-link {
    display: flex;
    justify-content: center;
}

.social-link a {
    text-decoration: none;
}

.link {
    border: 1px solid #515151;
    border-radius: 1px;
    width: 46px;
    height: 46px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link:hover {
    border-color: #de2b24;
}

.icon {
    color: #ffffff;
    font-size: 23px;
}

.section__social-link p {
    font-family: 'Open Sans', sans-serif;
    color: #cecece;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 31px;
}

.email-field {
    border: 0;
    border-radius: 1px;
    background-color:  #515151;
    width: 682px;
    height: 54px;
    margin-bottom: 20px;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #cecece;
    font-size: 14px;
    line-height: 22px;
}

input[type=text] {
    padding: 15px 20px;
    box-sizing: border-box;
    color: #cecece;
    font-weight: 300;
}

.button-subscribe {
    border: 1px solid #515151;
    border-radius: 1px;
    width: 153px;
    height: 53px;
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 7px;
    cursor: pointer;
}

.button-subscribe:hover {
    border-color: #de2b24;
}

.footer-main {
    background-color:  #515151;
    width: 100%;
    height: 67px;
    color: #cecece;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}



